@import url(http://fonts.googleapis.com/css?family=Lato:900);

body {
	padding: 0; margin: 0; /* override the browser's default padding/margins */
	font-family: 'Lato', sans-serif;
	font-size: 250%;
	font-weight: 900;
	line-height: 115%;
}

hr {
  display: block;
  clear: both;
  overflow: hidden; /* i don't quite know why these are required. i copied them off stacey's default css stylesheet. i think they can be gotten rid of */
  border: none; /* "border:none;" to eliminate the default "border: 1px inset;" attribute, as explained in: http://www.w3.org/TR/CSS2/sample.html */
  border-top: black solid 1rem;
  margin: 3rem auto;
  padding: 0;
}

a:link { color:red; }
a:visited { color: rgb(100,0,0); }
a:hover { color: rgb(200,0,0); }
a:active { color: rgb(150,0,0); }

p {
	margin: 1.5rem auto;
}

h1, h2, h3 {
	font-weight: 900;
	line-height: 80%;
	margin: 3rem auto;
}

.red {
	color:red;
}

#container {
	max-width: 90%;
	margin: 3rem auto;
	margin-bottom: 20rem;
}

#visualisation {
	margin: 1rem auto;
	line-height:0;
}
#visualisation::after {
		content: "";
	  	clear: both;
	  	display: table;
}

#scroller {
	display: none;
	position:fixed; top:0; 
	padding: 1rem; margin: 0;
	background: black; color: white; font-size:25%;
}

.year {
	width:calc(100%/15);
	margin:0; padding:0;
	float:left;
}

.date {
	font-size: 25%;
	margin-bottom: 1rem;
	text-align:center;
}
.viz {
	line-height: 0px;
}

.incidentDeathsRectangle  {
	width: calc(100%-1px);
	height: 1px; /* will be overrideen by the data-visualisation's javascript */
	display:float;
	padding-top:0; line-height:0;
	margin-bottom:1px; margin-right:1px; 
	background-color:rgb(255,0,0);
	transition: background-color .15s;
	transition: height .5s;
}

#visualisation .incidentDeathsRectangle {
	cursor: pointer; 
}

#visualisation .popup {
	width: 30vw;
	position: relative; top: 0px /* will be set by js */;
	background: black; padding: 1rem; margin-top: 1px;
	font-size: 1rem; line-height: 120%; color: white;
}
#visualisation .popup span.red {
	color:red;
}

@media screen and (max-device-width: 720px) {

	body {
		font-size: 175%;
	}

	p {
		margin: 1rem auto;
	}

	.incidentDeathsRectangle  {
	}

	#visualisation .popup {
		width: 60vw;
	}
}