body {
  padding: 0; margin: 0; /* override the browser's default padding/margins */
  font-family: sans-serif;
}

#container {
	max-width:40rem;
	margin: 0 auto;
}

.p5Canvas {
	border: 1px solid #eee;
}

#weekSlider {
	display: block;
	width: 100%;
	padding-top:1rem;
	margin-bottom: 1rem;
	background-color: black;
}

.tubelight {
	display:block;
	width:100%;
	height:0;
	padding-top: 33vh;
}