body {
  padding: 0; margin: 0; /* override the browser's default padding/margins */
  font-family: sans-serif;
}

#container {
	max-width:40rem;
	margin: 0 auto;
}

.p5Canvas {
	border: 1px solid #eee;
}

.weekSliderContainer {
	width: 100%;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 1rem;
	background: #eee;
	outline: none; /* override the blue outline that comes when you manipulate the slider */
	margin: 0; /* to override the default 2px value */
	opacity: 0.7;
	transition: opacity .2s; -webkit-transition: .2s;
}
.slider:hover {
	opacity: 1; 
}
/* slider-handle */
.slider::-webkit-slider-thumb {
	appearance: none; -webkit-appearance: none; /* Override default look */
	width: 1rem; /* Set a specific slider handle width */
	height: 1rem; /* Slider handle height */
	background: #aaa; /* Green background */
	cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb {
	width: 1rem; /* Set a specific slider handle width */
	height: 1rem; /* Slider handle height */
	background: #aaa; /* Green background */
	cursor: pointer; /* Cursor on hover */
}

.tubelight {
	display:block;
	width:100%;
	height:0;
	padding-top: 33vh;
}