body {
  padding: 0; margin: 0; /* override the browser's default padding/margins */
  font-family: sans-serif;
  font-size: 90%;
}

#container, #p5_loading {
	max-width:40rem;
	margin: 0 auto;
	margin-bottom: 20rem;
}

#visualisation {
	margin: 2rem auto;
	line-height: 0px;
}

.incidentDeathsRectangle {
	width:1rem; /* will be overrideen by the data-visualisation's javascript */
	display:inline-block;
	padding-top:12px; margin-right:1px; margin-bottom:1px;
	background-color:red;
	transition: background-color .15s;
}

.popup {
	position: absolute;
	background: black;
	font-size: 0.67rem;
	line-height: .85rem;
	color: white;
	padding: 1rem;
	margin-top: 1px;
	max-width: 15rem;
}
.popup span.red {
	color:red;
}